<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h3>API Versions</h3>
    <ul id="navigation">
    {% for blueprint in blueprints %}
        {% if blueprint[0] == 'v' %}
            <li><a href="/{{ blueprint }}">{{ blueprint }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

</body>
</html>